.seriviciosBodyDiv {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 65vh;
  overflow: auto;
  flex-direction: row;

  div {
    @extend .faqBodyDivImagen;
  }

  .seriviciosBodyDivCard {
    margin: auto;
    color: $color-letras;
    width: 400px;
    padding: 20px;
    box-shadow: $color-fondo-footer;
    border-radius: 20px;
    background: $color-principal-transparente;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 500px;

    .serviciosBodyDivCardImagen {
      object-fit: contain;
      height: 200px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.py-5 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mainHeaderLogo {
  width: 15rem;
  height: 7rem;
}

.sucursalImage {
  width: 19rem;
  height: 12rem;
}

.mainFooter {
  background-color: $color-fondo-footer;
}

.blog-post {
  margin: 3%;
}

@media (max-width: 768px) {
  .seriviciosBodyDivCard {
    display: -ms-inline-grid;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}